<div class="card h-100 my-2">
    <div class="card-header">
        <div class="row">
            <div class="col">
                <span class="font-monospace text-secondary">{{product.owner}} </span>
            </div>
            <div class="col-auto">
                <span class="badge bg-dark">{{product.sold}} Sold</span>
            </div>
        </div>
    </div>
    <div class="ratio ratio-4x3">
        <img [src]="product.image" [alt]="product.name" style="object-fit: cover;">
    </div>
    <div class="card-body">
        <div class="card-title">
            {{product.name}}
        </div>
        <div class="card-text flex-grow-1">{{product.description}}</div>
        <div class="card-text text-secondary">
            <span>{{product.location}}</span>
        </div>
        <div class="card-text">
            <button *ngIf="product.owner !== walletId" 
                    class="btn btn-outline-dark w-100 py-3"
                    (click)="buyProduct()">
                Buy for {{product.price | formatNear}} NEAR
            </button>
            <div class="d-xl-flex d-lg-inline-flex justify-content-center">
                <button *ngIf="walletId === product.owner" 
                        class="btn btn-outline-primary me-lg-1 my-1 w-100 py-3"
                        data-bs-toggle="modal" 
                        data-bs-target="#createProductModal" 
                        (click)="editProduct()" >
                        edit
                </button>

                <button *ngIf="walletId === product.owner" 
                        class="btn btn-outline-danger ms-lg-1 my-1 w-100 py-3"
                        (click)="deleteProduct()">
                        delete
                </button>
            </div>
        </div>
    </div>
</div>