<nav class="navbar bg-light">
  <div class="container-fluid">
    <ng-container *ngIf="{wallet: wallet$ | async, amount: amount$| async} as state; ">
      <span class="navbar-brand mb-0 h1" *ngIf="state.wallet && isSignedIn$ | async; else elseBlock">
        {{state.wallet}} : {{state.amount}} NEAR
      </span>
    </ng-container>
    <div class="d-flex">
      <button *ngIf="isSignedIn$ | async" class="btn btn-outline-danger" (click)="logOut()">log out</button>

    </div>
  </div>
</nav>

<ng-template #elseBlock>
  <span class="navbar-brand mb-0 h1">
    wallet
  </span>
</ng-template>